In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
test=pd.read_csv('F:/Assignments/Naive Bayes/SalaryData_Test.csv')
train=pd.read_csv('F:/Assignments/Naive Bayes/SalaryData_Train.csv')

In [11]:
train=pd.merge(test,train)
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,43,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
1,43,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
2,37,Private,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
3,25,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,25,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5910 entries, 0 to 5909
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            5910 non-null   int64
 1   workclass      5910 non-null   object
 2   education      5910 non-null   object
 3   educationno    5910 non-null   int64
 4   maritalstatus  5910 non-null   object
 5   occupation     5910 non-null   object
 6   relationship   5910 non-null   object
 7   race           5910 non-null   object
 8   sex            5910 non-null   object
 9   capitalgain    5910 non-null   int64
 10  capitalloss    5910 non-null   int64
 11  hoursperweek   5910 non-null   int64
 12  native         5910 non-null   object
 13  Salary         5910 non-null   object
dtypes: int64(5), object(9)
memory usage: 692.6+ KB

In [13]:
train.workclass.unique()

array([' Private', ' Local-gov', ' Self-emp-inc', ' Federal-gov',
       ' Self-emp-not-inc', ' State-gov'], dtype=object)

In [14]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
train['workclass']= label_encoder.fit_transform(train['workclass'])

In [15]:
train.education.unique()

array([' Masters', ' HS-grad', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Assoc-acdm', ' 11th', ' 1st-4th', ' 7th-8th',
       ' 10th', ' Prof-school', ' 5th-6th', ' 12th', ' Doctorate', ' 9th',
       ' Preschool'], dtype=object)

In [16]:
train['education']= label_encoder.fit_transform(train['education'])

In [17]:
train.occupation.unique()

array([' Exec-managerial', ' Machine-op-inspct', ' Prof-specialty',
       ' Adm-clerical', ' Craft-repair', ' Other-service',
       ' Handlers-cleaners', ' Tech-support', ' Transport-moving',
       ' Protective-serv', ' Sales', ' Farming-fishing'], dtype=object)

In [18]:
train['occupation']= label_encoder.fit_transform(train['occupation'])

In [19]:
train.relationship.unique()

array([' Husband', ' Unmarried', ' Own-child', ' Not-in-family', ' Wife',
       ' Other-relative'], dtype=object)

In [20]:
train['relationship']= label_encoder.fit_transform(train['relationship'])

In [21]:
train.race.unique()

array([' White', ' Black', ' Asian-Pac-Islander'], dtype=object)

In [22]:
train['race']= label_encoder.fit_transform(train['race'])

In [23]:
train.sex.unique()

array([' Male', ' Female'], dtype=object)

In [24]:
train['sex']=label_encoder.fit_transform(train['sex'])

In [25]:
train.native.unique()

array([' United-States', ' Mexico', ' Jamaica', ' Philippines'],
      dtype=object)

In [26]:
train['native']=label_encoder.fit_transform(train['native'])

In [27]:
train.maritalstatus.unique()

array([' Married-civ-spouse', ' Widowed', ' Never-married', ' Divorced',
       ' Separated'], dtype=object)

In [28]:
train['maritalstatus']=label_encoder.fit_transform(train['maritalstatus'])

In [29]:
train.head(2)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,43,2,12,14,1,2,0,2,1,0,0,50,3,>50K
1,43,2,12,14,1,2,0,2,1,0,0,50,3,>50K

In [30]:
train.dtypes

age               int64
workclass         int32
education         int32
educationno       int64
maritalstatus     int32
occupation        int32
relationship      int32
race              int32
sex               int32
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native            int32
Salary           object
dtype: object

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(train, test_size = 0.25, random_state = 0)

In [32]:
X_train = X_train.iloc[:,:-1]
y_train = X_train.iloc[:,-1]
X_test =  X_test.iloc[:,:-1]
y_test = X_test.iloc[:,-1]

In [33]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [34]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [35]:
ignb = GaussianNB()

In [36]:
pred_gnb = ignb.fit(X_train,y_train).predict(X_test)

In [37]:
# Confusion matrix GaussianNB model
confusion_matrix(y_test,pred_gnb) # GaussianNB model
pd.crosstab(y_test.values.flatten(),pred_gnb) # confusion matrix using 
np.mean(pred_gnb==y_test.values.flatten())

1.0